@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --ct-color-bg-primary: #FFF;
    --ct-color-bg-secondary: #F78B00;

    --ct-color-font-primary: #000;
    --ct-color-font-secundary: #00285F;
    --ct-color-font-tertiary: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

html, body {
    background-color: var(--ct-color-bg-primary);
}

.ct-container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}